h1 {
    background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png")
    repeat;
    font-family: "Open Sans", Impact;
    color: #e7e70e;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
   
  }
  
  
  
  .aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-titulo {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    padding: 20px;
    border-radius: 16px;
    background: #64b8d4;
    box-shadow: 12px 12px 18px #bababa,
                -12px -12px 18px #ffffff;
    display: flex;
    flex-direction: column;
  }