.title1 {
    color: #000;

}
.form1-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 80px 24px 24px;
    background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
    color: #010101;
    max-width: 300px; /* Establece un ancho máximo para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
      
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
  /*Button*/
  .form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .form button:hover {
    background-color: #005ce6;
  }
  .btn1 {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .btn1::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .btn1::before {
    top: -1em;
    left: -1em;
   }
   
   .btn1::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .btn1:hover::before, .button:hover::after {
    height: 310px;
    width: 310px;
   }
   
   .btn1:hover {
    color: rgb(10, 25, 30);
   }
   
   .btn1:active {
    filter: brightness(.9);
   }
   